extends layout 

block header 
    div(class="header-nav")
      div(class="header-title")
        h1
          a(href="/home") Members Only 
      if login
        div(class="header-btns")
          if user.isAdmin 
            p #{user.username}
            p Administrador
          else if user.isVip
            p  #{user.username}
            p Usuario VIP
            a(href="/admin") Admin   
          else
            p #{user.username}  
            a(href="/vip") VIP
          a(href="/logout") Salir
      else    
        div(class="header-btns")
            a(href="/signIn") Sign in
            a(href="/logIn") Log in
    hr(width="85%")

block content

    div(class="posts-container")
      div(class="posts-header")
        if login 
          a(href="/post" class="create-post-btn") Crea un Post 
        else 
          p Accede a tu 
            a(href="/logIn") cuenta 
            | para ver el contenido
          p No tienes cuenta ? Crea una 
            a(href="/signIn") aqui!   
      div(class="single-post-container")
        each post in posts
          div(class="post")
            h3 #{post.title}
            if login
              div(class="post-text")
                p #{post.text}
              if post.author.isVip  
                p Creado por: #{post.author.username}
              else 
                p Necesitas ser VIP para ver el autor
              p #{post.timeago}
              if user.isAdmin 
                form(action="" method="POST")
                  input(type="hidden" name="postid" value=post._id) 
                  button Borrar
            else 
              p Accede a tu cuenta para visualizar el contenido